<% content_for :title do %>
<%=@title%>
<% end %>

	<h2><%=@title%></h2>
	

	<div class = 'large-6 columns'>
	<%= simple_form_for @shipper do |f| %>
			<%= f.input :name, label: 'Name'%>
			
	  	<%= f.button :submit, class: 'button small' %>
	<% end %>
	</div>
